<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./chat.css">
</head>
<body>

     <div class="allchat">
        <div class="yo"><%=chatMate.username%></div>
        <div class="imsg">
                <form action="">
                        <input type="text">
                </form>
                <i class="ri-send-plane-2-line"></i>
        </div>

            
        </div>
</body>
</html>